* {
    box-sizing: border-box !important;
}

.extension-element-hidden {
    display: none !important;
}

html {
    scroll-behavior: smooth !important;
}

html,
body {
    // height: 100%;
    display: flex;
    flex-direction: column;
    color: $primary !important;
    background-color: $background !important;
    @extend .text-primary;
    font-weight: 300 !important;
    font-family: 'Helvetica Neue ', sans-serif !important;
    margin: 0;
}

body {
    min-height: 100vh;
}

@media (max-width: 576px) {

    main,
    .container-fluid {
        padding-left: $spacer*6 !important;
        /* o el valor que quieras */
        padding-right: $spacer*6 !important;
    }
}

.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 2000;
    @extend .bg-background;
    // box-shadow: 0 1px 12px 0 #0B23A20d;

    a,
    #languageButton {
        @extend .text-primary;
        font-weight: 600;

        &:hover {
            font-weight: 800;
        }
    }

    #languageButton {
        text-transform: uppercase !important;
        cursor: pointer !important;
    }
}

.row {
    width: 100% !important;
    align-items: flex-start;

    &>* {
        // @extend .px-4; 
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

[class*="col-"] {
    @extend .px-0;
}


.btn {
    font-family: var(--font-helvetica-neue) !important;
    @extend .bg-white;
    @extend .fw-bold;
    @extend .py-3;
    @extend .px-5;
    @extend .rounded-pill;
    @extend .d-inline-block;
}

a {
    font-size: clamp(1rem, calc(0.8rem + 0.3vw), 1.125rem) !important;
}

p {
    @extend .text-primary;
    @extend .m-0;
    font-size: clamp(1rem, calc(0.8rem + 0.3vw), 1.125rem) !important;
}

.fw-bold {
    font-weight: 500 !important;
}

strong {
    font-weight: 500 !important;
    @extend .text-primary;
}

.body-lg {
    font-size: clamp(1.4rem, 1.8vw, 2rem) !important;
    @extend .lh-sm;
}

.body-light {
    color: $fourth !important;

    p {
        color: inherit !important;
    }
}

.fs-2 {
    line-height: 1.3 !important;
}

a.btn-link {
    @extend .text-uppercase;
    @extend .fw-bold;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500 !important;
    @extend .text-uppercase;
}

.caption {
    font-size: 3.5vw !important;
}

.card {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;

    .card-image {
        border-radius: 0;
    }

    .card-title {
        text-transform: capitalize;
    }
}

//mobile
@media only screen and (max-width: 767px) {

    .desktop,
    .tablet:not(.mobile) {
        display: none !important;
    }

    .col-12,
    .col-11,
    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

//tablet
@media (min-width: 768px) and (max-width: 991px) {

    .mobile:not(.tablet),
    .desktop:not(.tablet) {
        display: none !important;
    }
}

//desktop
@media only screen and (min-width: 992px) {

    .mobile{
        display: none !important;
    }

    body {
        font-size: 1.125rem !important;
    }

    .container {
        max-width: 92% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}