.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        visibility: visible;
        opacity: 0.8;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        visibility: visible;
        opacity: 0.8;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


.fadeInUp {
    animation: fadeInUp 1.2s cubic-bezier(0.42, 0.14, 0.39, 1) forwards;
    animation-delay: 2s;
}

//INTRO SPEEDS TRY
.fadeInUp-logo {
    animation: fadeInUpMd 2s forwards;
    animation-delay: 1.4s;
}

.fadeInUp-icon {
    animation: fadeInUpLg 2s cubic-bezier(0.42, 0.14, 0.39, 1) forwards;
    animation-delay: 1.2s;
}

@keyframes fadeInUp {
    to {
        transform: translateY(-100%);
    }
}

@keyframes fadeInUpMd {
    to {
        transform: translateY(-300%);
    }
}

@keyframes fadeInUpLg {
    to {
        transform: translateY(-2000%);
    }
}

@media (max-width: 768px) {
    @keyframes fadeInUpLg {
        to {
            transform: translateY(-1200%);
        }
    }
}



.slideDown {
    transform: translateY(-100px);
    animation: slideDown 1s ease-out forwards;
    animation-delay: 2s;
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.slideUp1 {
    animation: slideUp 1.2s cubic-bezier(0.42, 0.14, 0.39, 1) forwards;
    transform: translateY(200%);
    animation-delay: 2s;
}

.slideUp2 {
    animation: slideUp 1s cubic-bezier(0.42, 0.14, 0.39, 1) forwards;
    transform: translateY(300px);
    animation-delay: 2s;
}

@keyframes slideUp {

    to {
        transform: translateY(0);
    }
}

.logoLoader path {
    stroke-dasharray: 120;
    stroke-dashoffset: 240;
    animation: svgdraw 1.2s ease-in-out infinite;
    // animation: svgdraw 1.5s ease-in-out infinite alternate;

}

@keyframes svgdraw {
    to {
        stroke-dashoffset: 0;
    }
}


// 50 AÑOS ATCHUGARRY HOME INTRO
.logo-animation-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number-front {
    z-index: 10;
    width: 300px;
    height: auto;
    opacity: 0;
    transform: scale(0.95);
    animation: appear50 0.5s ease-out forwards;
}

@keyframes appear50 {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.text-reveal-window {
    position: relative;
    width: 800px;
    height: 200px;
    overflow: hidden;
}

.text-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    opacity: .7;
    /* Empieza fuera a la izquierda */
    animation: slideText 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes slideText {
    from {
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.text-behind {
    width: 100%;
    height: 100%;
}