@media (max-width: 991px) {

    /* Aplicar solo en mobile */
    #navbarNav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: rgba($background, 0.9);
        /* O el color que desees */
        // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px;
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}

@media (min-width: 768px) {
    .h-md-100 {
        height: 100% !important;
    }
}

// Home 
.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2001;

    img {
        width: 100%;
        height: 100%;
        /* height: auto; */
        object-fit: cover;
    }

    @media only screen and (min-width: 992px) {
        .logoLoader {
            bottom: 1.5em;
            right: 0;
        }
    }
}


main {
    @extend .container;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .flex-grow-1;
    @extend .flex-column;
    @extend .mt-10;
    @extend .mt-md-11;
    @extend .mt-xxl-13;

    &.detail-imgs {
        @extend .mt-5;
        @extend .mt-md-11;
        @extend .mt-xxl-13;
        // @extend .vh-100;
        // min-height: 75vh;
    }
}

main.hero {
    @extend .mt-12;
    @extend .mt-md-12;
}

nav {
    a {
        @extend .fw-light;

        &::first-letter {
            text-transform: uppercase !important;
        }

        &:hover,
        &.active {
            // @extend .fw-medium;
            @extend .text-decoration-underline;
        }
    }
}

.tertiary-page {

    .navbar-brand,
    .navbar-toggler,
    footer,
    p {
        filter: invert(39%) sepia(84%) saturate(773%) hue-rotate(88deg) brightness(90%) contrast(96%);
    }

    .navbar a {
        @extend .text-tertiary;
    }

    span {
        @extend .text-tertiary;
    }
}

.hero {
    z-index: 1000;

    svg {
        width: 100%;
    }
}

.home-footer {
    .footer {
        @extend .pt-md-8;
    }
}

.card {
    .card-image {
        aspect-ratio: 6/7
    }

    .card-body {
        @extend .mt-3;
    }
}

.projects section {
    @extend .mt-0;

    article {
        &:not(.col-0) {
            @extend .slideInUp;
        }
    }

    &:not(:first-of-type) {
        @extend .mt-0;
        @extend .mt-md-13;

        article:not(.col-0):not(.pushed) {
            @extend .mt-8;
            @extend .mt-md-0;
        }

        .pushed {
            @extend .mt-8;
            @extend .mt-md-10;
        }
    }
}

// Aspect ratio
.img-7x4 {
    aspect-ratio: 7 / 4;
}

.landscape {
    aspect-ratio: 5 / 3;
}

.portrait {
    aspect-ratio: 3 / 4;
}

.square {
    aspect-ratio: 5 / 5;
}

.standard {
    aspect-ratio: 4 / 3;
}

.image-container {
    position: relative;
    overflow: hidden;
    /* Mantiene proporción sin distorsión */
}

.image-container div {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out, mix-blend-mode 0.4s ease-in-out;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

@media (min-width: 768px) {

    .image-container:hover .hover-image {
        opacity: 1;
        // transform: scale(1.01);
        /* Efecto de zoom suave */

        &:hover {
            opacity: 1;
            // transform: scale(1.01);
        }
    }
}


// detalle
.project-description {
    strong {
        @extend .mb-3;
    }

    @media (min-width: 768px) {
        &.position-md-fixed {
            position: fixed !important;
        }
    }

}

@media (max-width: 767.98px) {
    #project-detail {
        .navigation-buttons {
            position: fixed;
            bottom: 0px !important;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            width: 100%;
            max-width: 100%;
            padding: 0 1rem;
            box-sizing: border-box;
            background-color: rgba($background, 1);

            .navigation-buttons-div {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

    .navigation-buttons {
        a {
            font-weight: 300 !important;

            &::first-letter {
                text-transform: uppercase !important;
            }

            &:hover {
                @extend .text-decoration-underline;
            }
        }

        svg {
            width: auto;
            @extend .px-2;
        }
    }

    .carousel-inner {
        aspect-ratio: 5/3;
    }

    .carousel-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .carousel-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        z-index: 10;
        @extend .pt-2;
    }

    .carousel-overlay img {
        width: 100%;
        height: auto;
    }

    footer {
        p {
            font-size: 14px;
            text-wrap: balance !important;
        }
    }   

    .sidebar {
        /* o el ancho que quieras */
        top: 100px;
    }

    // madera
    .green-border {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 3000;
        pointer-events: none;
        border: 12px solid $tertiary;
        // border-right: 4px solid $tertiary;
    }

    @media only screen and (min-width: 992px) {
        .green-border {
            border: 20px solid $tertiary;
            border-right: 33px solid $tertiary;
        }
    }

    // contacto
    .contact-links {
        a {
            display: block;
            text-transform: none !important;
            font-weight: 300 !important;

            &:hover {
                @extend .text-decoration-underline;
            }
        }
    }


    //////////////////////////////////////

    // .box {
    //     width: 100px;
    //     height: 100px;
    //     background-color: blue;
    //     position: absolute;
    //     top: 50%;
    //     left: 0;
    //     transform: translateY(-50%);
    // }

    // .overlay {
    //     position: fixed;
    //     width: 100vw;
    //     height: 100vh;
    //     z-index: 6;
    // }

    // .counter {
    //     position: fixed;
    //     width: 100%;
    //     height: 100%;
    //     display: flex;
    //     z-index: 10000;
    //     justify-content: center;
    //     align-items: center;
    //     color: $primary;
    //     background-color: $background;
    // }

    // @keyframes scroll {
    //     0% {
    //         bottom: 69%;
    //         opacity: 1
    //     }

    //     100% {
    //         bottom: 50%;
    //         opacity: 0.5
    //     }
    // }

    // @keyframes arrow {

    //     100% {
    //         top: 120%;
    //         opacity: 0
    //     }
    // }

    // .btn.button-link {
    //     @extend .bg-secondary;
    //     @extend .text-white;

    //     a {
    //         @extend .text-white;
    //     }
    // }

    // @keyframes slideIn {
    //     to {
    //         -webkit-transform: translateX(0%);
    //         -moz-transform: translateX(0%);
    //         -ms-transform: translateX(0%);
    //         -o-transform: translateX(0%);
    //         transform: translateX(0%);
    //     }
    // }

    // @media(max-height:767px) {
    //     :root {
    //         --slide-in-x: 0
    //     }
    // }

    // @media(min-height:768px) {
    //     :root {
    //         --slide-in-x: 11%
    //     }
    // }

    // @keyframes slideInLess {
    //     to {
    //         transform: translateX(var(--slide-in-x));
    //     }
    // }